<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWnwOXYoN3uhfZs6vLOsoRE1mGVykjXNA</string>
	<key>GCM_SENDER_ID</key>
	<string>487295226180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.popcornFlix.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>popcorn-flix-e7bbd</string>
	<key>STORAGE_BUCKET</key>
	<string>popcorn-flix-e7bbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487295226180:ios:1e0e348e079b6fcaed8711</string>
</dict>
</plist>